      * {
        margin: 0;
        padding: 0;
      }

      .box {
        background-color: aqua;
      }
      .box1 {
        color: yellow;
        padding: 10px;
        margin: 35px;
        border: 2px solid blue;
        height: 200px;
        box-sizing: border-box;
      }
      .box2 {
        color: red;
        padding: 10px;
        margin: 25px;
        border: 2px solid black;
        height: 200px;
        box-sizing: border-box;
      }

              /* https://codepen.io/web-dot-dev/pen/ZELGraM */
        h1 {
            /* color:darkred; */
            /* color: #0BEE0B; */
            /* color: rgb(76, 125, 59); */
            /* color: rgba(255, 22, 5, 0.175) */
            color: hsl(0, 0%, 100%);
            background-color: rgb(76, 125, 59);
        }